In [2]:
import numpy as np
import pandas as pd

In [7]:
rosters = pd.read_csv('xxxx.csv')
prs = pd.read_csv("xxxxxxx.csv")
term_class = pd.read_excel('xxxxxxxx.xls')

WARNING *** file size (1276709) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [9]:
rosters.info()
term_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17412 entries, 0 to 17411
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Term                            17412 non-null  int64
 1   Course                          17412 non-null  object
 2   Section                         17412 non-null  object
 3   Department                      17412 non-null  object
 4   Dept_Name                       17412 non-null  object
 5   Subject                         17412 non-null  object
 6   Instructor_Name                 17370 non-null  object
 7   Campus                          17412 non-null  object
 8   Class_School                    17412 non-null  object
 9   Class_Name                      17412 non-null  object
 10  Call_Number                     17412 non-null  int64
 11  Student_Name                    17412 non-null  object
 12  PID                             17412 non-null  object
 13  Email_Address                   17408 non-null  object
 14  School                          17412 non-null  object
 15  Billing_Program                 17412 non-null  object
 16  Standing_Level                  17412 non-null  object
 17  Standing_Year                   17412 non-null  int64
 18  UNI                             17412 non-null  object
 19  Fixed_Or_Variable_Credits_Flag  17412 non-null  object
 20  Credits                         17412 non-null  float64
 21  Instructor_UNI                  17370 non-null  object
 22  Student_Enrollment_Count        17412 non-null  int64
 23  Enrollment_Status_Code          17412 non-null  object
 24  Gender_Code                     17412 non-null  object
 25  Withdrawal_Date                 0 non-null      float64
 26  Withdrawal_Reason_Code          0 non-null      float64
 27  Primary_Academic_Program        17412 non-null  object
 28  Program_Description             17412 non-null  object
 29  IPEDS_Long_Name                 17334 non-null  object
 30  Data_Refresh_Date               17412 non-null  object
dtypes: float64(3), int64(4), object(24)
memory usage: 4.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Term                            2028 non-null   int64
 1   Office                          2028 non-null   object
 2   Subject                         2028 non-null   object
 3   Course_Number                   2028 non-null   int64
 4   Prefix                          2028 non-null   object
 5   suffix_two                      2028 non-null   object
 6   Section                         2028 non-null   object
 7   Instructor_Name                 2015 non-null   object
 8   Class_Name                      2028 non-null   object
 9   Class_Days                      410 non-null    object
 10  Class_Begin                     410 non-null    float64
 11  begin_time                      410 non-null    float64
 12  Class_End                       410 non-null    float64
 13  end_time                        410 non-null    float64
 14  Enrollment                      2028 non-null   int64
 15  Call_Number                     2028 non-null   int64
 16  Credits                         2028 non-null   float64
 17  class_type                      2028 non-null   object
 18  clas_max                        2028 non-null   int64
 19  class_building                  410 non-null    object
 20  class_room                      410 non-null    object
 21  subterm                         77 non-null     object
 22  inst_email                      1965 non-null   object
 23  enroll_stat                     2028 non-null   object
 24  begin_date                      2028 non-null   datetime64[ns]
 25  end_date                        2028 non-null   datetime64[ns]
 26  class_note_text                 1446 non-null   object
 27  clnt_seq1                       2026 non-null   object
 28  clnt_seq3                       173 non-null    object
 29  uni                             2015 non-null   object
 30  Week_Code                       410 non-null    object
 31  Fixed_Or_Variable_Credits_Flag  2028 non-null   object
 32  Minimum_Credits_Permitted_Cnt   2028 non-null   int64
 33  Maximum_Credits_Permitted_Cnt   2028 non-null   float64
 34  Grading_System_Code             2028 non-null   object
 35  School                          2028 non-null   object
 36  Dept                            2028 non-null   object
 37  Campus                          2028 non-null   object
 38  Data_Refresh_Date               2028 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int64(6), object(24)
memory usage: 618.0+ KB

In [10]:
combined_rosters = pd.merge(rosters,term_class, on='Call_Number',how='inner')
#check = pd.merge(rosters,prs, on='PID',how='outer')

In [14]:
check = pd.merge(combined_rosters,prs, on='PID',how='inner')
check.to_excel("Incoming MS Registration 9.3.xls")

In [15]:
check.head()

,Term_x,Course,Section_x,Department_x,Dept_Name,Subject_x,Instructor_Name_x,Campus_x,Class_School,Class_Name_x,...,hispanic_latino_flag,white_origin_flag,black_african_american_flag,asian_origin_flag,amer_indian_alaskan_native_flag,hawaiin_pacific_islander_flag,nonresident_alien_flag,UNI.1,ODEP_Notes,Data_Refresh_Date
0,20203,APBME4650,001,APAM,Applied Physics and Applied Mathematics,APBM,"Rozenshtein, Anna",MORN,EP,ANATOMY FOR PHYSICISTS &,...,N,Y,N,N,N,N,N,mb4488,219317.0,########
1,20203,APPHE4010,001,APAM,Applied Physics and Applied Mathematics,APPH,"Ostrow, Stephen",MORN,EP,INTRODUCTN TO NUCLEAR SCI,...,N,Y,N,N,N,N,N,mb4488,219317.0,########
2,20203,APPHE4600,001,APAM,Applied Physics and Applied Mathematics,APPH,"Meli, Jerome",MORN,EP,FUNDAMENTALS OF DOSIMETRY,...,N,Y,N,N,N,N,N,mb4488,219317.0,########
3,20203,APPHE4710,001,APAM,Applied Physics and Applied Mathematics,APPH,"Ostrow, Stephen",MORN,EP,RAD INSTRUMENT/MEASUREMEN,...,N,Y,N,N,N,N,N,mb4488,219317.0,########
4,20203,APBME4650,001,APAM,Applied Physics and Applied Mathematics,APBM,"Rozenshtein, Anna",MORN,EP,ANATOMY FOR PHYSICISTS &,...,N,N,N,Y,N,N,Y,djm2249,218786.0,########